{% extends "Index.html" %}

{% block title %}Staff Details{% endblock %}


{% block content %} 
<style>
     .label-title{
          font-size: 12px;
     }
     .form-control{
          font-size:12px;
     }
     .back-button{
          color:#ffffff;
          background-color: #87ceeb;
          border: none; 
          border-radius: 10px;
          text-align: center;
          font-size: large;
          display: block;
          width: 100%;
          height: 100%;
          text-decoration: none;
     }
     .back-button:hover{
          background-color: #6facc5 ;
     }
     .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
     }
     .switch input {
          opacity: 0;
          width: 0;
          height: 0;
     }
     .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;
     }
     
     .slider:before {
          position: absolute;
          content: "";
          height: 19px;
          width: 19px;
          left: 3px;
          top: 2px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
     }
     
     input:checked + .slider {
          background-color: #2196F3;
     }
     
     input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
     }
     
     input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
     }
     div .dz-preview{
          background-color: transparent !important;
     }
     div .dz-preview .dz-image{
          width: 150px !important;
          height: 150px !important;
          border-radius: 50% !important;
          object-fit: contain !important;
     }
     div .dz-preview .dz-image img{
          width: 150px !important;
          height: 150px !important;
          border-radius: 50% !important;
          object-fit: contain !important;
     }
</style>
<br>
<div class="row" style="height: 95vh; overflow-y: scroll;">
     <div class="col-11">
          <div class="row">
               <br>
               <div class="col-6">
                    <h1 style="font-weight: bold; font-size: large;">Staff Management <i class="bi bi-caret-right-fill"></i> {{staff.staff_no}}</h1>
               </div>
               {% if staff.is_active is not False %}
               <div class="col-6" style="text-align: right;" >
                    <button class="btn btn-danger"  type="button" data-bs-toggle="modal" data-bs-target="#terminateModal">
                    Terminate
                    </button>
               </div>
               {% endif %}
          </div>
          <br>
          <div class="row" style="height: 90%; width: 100%;">
               <div style="border: solid 2px #ffffff;border-radius: 10px;background-color: #CBF0FF;">
                    <br>
                    <div class="row mx-1">
                         <div class="col-6">
                              <h3>Personal Information</h3>
                         </div>
                         <div class="col-3">
                         </div>
                         {% if staff.is_active is not False  %}
                         <div class="col-3 row">
                              <div class="col-6">
                                   <label style="float: right;">Edit</label>
                              </div>
                              <div class="col-6">
                                   <label class="switch">
                                        <input type="checkbox" id="editSwitch" onchange="toggleEdit()">
                                        <span class="slider"></span>
                                   </label>
                              </div>
                         </div>
                         {% endif %}
                    </div>
                    <hr style="border-top: thin solid black; opacity: 0.1;">
                    <div class="row">
                         <div class="col-4"></div>
                         <div class="col-4" style="display: flex; align-items: center; justify-content: center; border-color: transparent;">
                              {% if image %}
                              <div class="img-div form-control" style="border-radius:50% !important; height:150px !important; background-color: transparent; display: flex; align-items: center; justify-content: center; border-color: transparent;">
                                   <img src="{{image}}" alt="Profile Picture" style="width:150px !important; height:150px !important; border-radius:50% !important; object-fit: cover !important;"> 
                              </div>
                              {% else %}
                              <form method="post" enctype="multipart/form-data" class="dropzone needsclick form-control " id="profilePic" style="border-radius:50%; width:150px; height:150px;display: flex; align-items: center; justify-content: center;">
                                   {% csrf_token %}
                                   <label class="dz-message" style="font-size:90px; opacity:0.1;">
                                        <i class="bi bi-person-fill"></i>
                                   </label>
                              </form>
                              {% endif %}
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-4">
                         </div>
                         <div class="col-4" style="justify-content:center; align-items:center; display:flex; border-color:transparent;">
                              {% if image %}
                              <form method='post' action="{% url 'fcmsapp:delete-profile-pic' staff_no=staff.staff_no %}" id='deletePicForm'>
                                   {% csrf_token %}
                                   <button type='submit' id="deleteProfilePic" class="mx-1" style="font-size:12px; text-align: center; color: red; text-decoration: underline; background-color: transparent; border-color: transparent !important;">
                                        Remove Profile Picture
                                   </button>
                              </form>
                              {% else %}
                              <a id="removeProfilePic" href="#" class="mx-1" style="font-size:12px; justify-content:center; align-items:center; display:flex; color: red; text-decoration: underline;">
                                   Remove Profile Picture
                              </a>
                              {% endif %}
                         </div>
                    </div>
                    <br>
                    <form  method="POST" id="staffForm">
                    {% csrf_token %}
                         <input type="hidden" id="filename" name="filename">
                         <div class="row">
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label class="label-title">Name</label>
                                        <input type="text" id="name" name="name" class="form-control" placeholder="" value="{{staff.name}}" maxlength="50" disabled>
                                   </div>
                                   <div class="form-group">
                                        <label class="label-title">Gender</label>
                                        <select class="form-select" id="gender" name="gender" style="font-size:12px" disabled>
                                             <option selected disabled hidden value="{{staff.gender}}">{{staff.gender}}</option>
                                             <option value="Male" {% if staff.gender == "Male" %}selected{%endif%}>Male</option>
                                             <option value="Female" {% if staff.gender == "Female" %}selected{%endif%}>Female</option>
                                        </select>
                                   </div>
                                   <div class="form-group">
                                        <label class="label-title">Date of Birth</label>
                                        <input type="date" id="dob" name="dob" class="form-control" placeholder="" value="{{staff.dob}}" disabled>
                                   </div>
                                   <div class="form-group">
                                        <label class="label-title">Phone Number (without '-')</label>
                                        <input type="tel" class="form-control" id="phonenumber" name="phonenumber" pattern="01[0-9]{1}[0-9]{7,8}"  value="{{staff.phone_number}}" maxlength="30" disabled required>
                                   </div>
                              </div>
                              <div class="col-sm-6">
                                   <div class="form-group">
                                        <label class="label-title">Role</label>
                                        <input type="text" id="roleDisabled" name="roleDisabled" class="form-control" value="{{staff.role}}" disabled>
                                   </div>
                                   <div class="form-group">
                                        <label class="label-title">Last Updated</label>
                                        <input type="text" id="lastupdatedDisabled" name="lastupdatedDisabled" class="form-control" value="{{staff.last_updated}}" disabled>
                                   </div>
                                   <div class="form-group">
                                        <label class="label-title">Email</label>
                                        <input type="text" id="emailDisabled" name="emailDisabled" class="form-control" value="{{staff.email}}" disabled>
                                   </div>
                              </div>
                         </div>
                         <br>
                         <div class="row">
                              <div class="col-4"></div>
                              <input type="hidden" id="email" name="email">
                              <input type="hidden" id="role" name="role">
                              <input type="hidden" id="editMode" name="editMode" value="False">
                              <div class="col-2" style="justify-content: center; align-items: center; display: flex;">
                                   <a class="btn btn-danger" href="{% url 'fcmsapp:staff-management' %}" style="
                                   background-color:#555555;
                                   color:#ffffff;
                                   border: none; 
                                   border-radius: 10px;
                                   font-size: medium;
                                   display: block;
                                   width: 100%;">
                                   Cancel
                                   </a>
                              </div>
                              {% if staff.is_active is not False  %}
                              <div class="col-2" style="justify-content: center; align-items: center; display: flex;">
                                   <button type="submit" id="submitBtn" class="" type="button" onclick="populateHidden()" style="
                                   background-color:#555555;
                                   color:#ffffff;
                                   border: none; 
                                   border-radius: 10px;
                                   font-size: medium;
                                   display: block;
                                   width: 100%;
                                   height: 100%;">
                                   Save
                                   </button>
                              </div>
                              {% endif %}
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
<div class="modal fade" id="terminateModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="modalTitle">Terminate</h5>
           <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
               <div class="row">
                    <div class="col-12">
                    <h5>Are you sure you want to terminate this staff?</h5>
                    </div>
               </div>
               <br>
         </div>
         <div class="modal-footer">
          <form action="{% url 'fcmsapp:terminate-staff' staff_no=staff.staff_no %}" method="POST">
               {% csrf_token %}
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button class="btn btn-danger" type="submit">Terminate</button>
          </form>
         </div>
       </div>
     </div>
   </div>
<script>
     Dropzone.autoDiscover = false;
     var profilePic = new Dropzone("#profilePic", {
          url: "{% url 'fcmsapp:upload-profile-pic' %}", // Set the url for your upload script location
          paramName: "profilePic",
          method: "post",
          maxFiles: 1,
          maxFilesize: 5,
          acceptedFiles: ".jpeg,.jpg,.png,.gif",
          addRemoveLinks: false,
          parallelUploads: 1,
          init: function () {
               this.on("maxfilesexceeded", function(file) {
                    this.removeAllFiles();
                    this.addFile(file);
               });
               this.on("addedfile", function(file) {
                    if (this.files.length > 1) {
                         this.removeFile(this.files[0]);
                    }
               });
               this.on("removedfile", function(file) {
                    $.ajax({ // request to remove image from temp (pass to views.py)
                         type: 'POST',
                         url: "{% url 'fcmsapp:remove-profile-pic' %}",
                         data: {
                              csrfmiddlewaretoken: "{{ csrf_token }}",
                              filename: file.name
                         },
                         success: function(response) {
                              toastr.success("Image removed successfully");
                         },
                         error: function(response) {
                              toastr.error("Error removing image");
                         }
                    });

                    if (this.files.length === 0) {
                         this.emit("reset");
                    }
               });
               this.on('success', function(file, response) {
                    document.getElementById('filename').value = response.filename;
               })

               
          },
     });
     profilePic.disable();

     // populate hidden fields
     function toggleEdit() {
          const editSwitch = document.getElementById("editSwitch");
          const name = document.getElementById("name");
          const dob = document.getElementById("dob");
          const phonenumber = document.getElementById("phonenumber");
          const gender = document.getElementById("gender");
          const editMode = document.getElementById("editMode");

          const elements = [name, dob, phonenumber, gender];
          if (editSwitch.checked == true) {
               for (let i = 0; i < elements.length; i++) {
                    elements[i].disabled = false;
               }
               if (profilePic){
                    profilePic.enable();
               }
               editMode.value = "True";
               console.log(editMode.value);
          } else {
               for (let i = 0; i < elements.length; i++) {
                    elements[i].disabled = true;
               }
               if (profilePic){
                    profilePic.disable();
               }
               editMode.value = "False";
          }
 
          name.addEventListener('input', function(){
               var nameInput = name.value;
               if (/[0-9]/.test(nameInput)) {
                    name.setCustomValidity('Name must not contain numbers');
               } else if (/[^A-Za-z0-9 ./]/.test(nameInput)){
                    name.setCustomValidity('Name must not contain special characters other than dots and slashes.');
               } else if (nameInput.trim() == "" || nameInput.trim() == null || nameInput.trim() == undefined){
                    name.setCustomValidity('Name must not be empty');  
               } else if (/^[.\/]*$/.test(nameInput)) {
                    name.setCustomValidity('Name must not contain only dots and slashes.')
               } else {
                    name.setCustomValidity('');
               }
          });
       
          phonenumber.addEventListener('input', function(){
               var phonenumberInput = phonenumber.value;
               if (/[A-Za-z]/.test(phonenumberInput)) {
                    phonenumber.setCustomValidity('Phone number must not contain alphabets');
               } else if (/[^A-Za-z0-9]/.test(phonenumberInput)){
                    phonenumber.setCustomValidity('Phone number must not contain special characters');
               } else if (phonenumberInput.trim() == "" || phonenumberInput.trim() == null || phonenumberInput.trim() == undefined){
                    phonenumber.setCustomValidity('Phone number must not be empty');  
               } else if (phonenumberInput.length < 10 || phonenumberInput.length > 12){
                    phonenumber.setCustomValidity('Phone number must be 10- 12 digits');
               }else {
                    phonenumber.setCustomValidity('');
               }
          }); 
     
          dob.addEventListener('input', function(){
               console.log('in');
               var dobInput = new Date(dob.value);
               var today = Date.now();
               var age = Math.abs(new Date(today - dobInput).getUTCFullYear() - 1970);
               
               if (dobInput > today ) {
                    dob.setCustomValidity('Date of birth must not be in the future');
     
               }else if(age < 21 || age > 100){
                    dob.setCustomValidity('Age must be 21-100 years old');
               }
                    else {
                    dob.setCustomValidity('');
               }
          });
     }

     function populateHidden(){
          const roleDisabled = document.getElementById("roleDisabled");
          const role = document.getElementById("role");
          role.value = roleDisabled.value;
     }

     document.getElementById("submitBtn").addEventListener("click", function(event) {
          if (profilePic.getAcceptedFiles().length == 0) {
               toastr.error("Please upload an image");
               event.preventDefault();
               return false;
          }

          if (document.getElementById("staffForm").reportValidity()){
               document.getElementById("staffForm").submit();
          }
     });

     const removeBtn = document.getElementById('removeProfilePic');
     const deleteBtn = document.getElementById('deleteProfilePic');

     if (removeBtn){
          removeBtn.addEventListener('click', function(){
               if (profilePic.files.length > 0){
                    profilePic.removeAllFiles();
               } else {
                    toastr.error('No image to remove!');
               }
          });
     }

     if (deleteBtn){
          deleteBtn.addEventListener('click', function(){
               document.getElementById('deletePicForm').submit();
          });
     }

</script>
{% endblock %}